%h1 categories
%table.listing
  %tr
    %th NAME
    %th{:colspan => 2} &nbsp;

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= link_to 'edit', edit_category_path(category)
      %td= link_to 'remove', category, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New category', new_category_path
